body{
    margin:0;
    padding:0;
    height:100vh;
    font-family:Times New Roman;
    display:block;
    background:#E4E4E4;
    overflow:hidden;
    user-select:none;
}
content{
    display:block;
    overflow:scroll;
    width:100%;
    height:100%;
    position:relative;
    top:0px;
    padding:0;
    left:0px
}
Toast{
    width:100%;
    height:fit-content;
    border:1px groove #0092FF;
    min-height:45px;
    display:flex;
    align-items:center;
    text-align:center;
    padding:5px;
    justify-content:center;
    box-sizing:border-box;
    border-radius:4px;
    box-shadow:0px 0px 4px #8E8E8E;
    position:fixed;
    bottom:-300px;
    transition-duration:1s;
    display:none;
    background:white;
    border-bottom:10px solid white;
}
header{
    width:100%;
    height:fit-content;
    padding:5px;
    display:block;
    box-sizing:border-box;
    box-shadow:0px 0px 4px #B1B1B1;
    margin-bottom:10px;
    position:relative;
    top:-2px;
    left:-2px;
    text-align:center;
    
}
h1{
    font-weight:350;
    display:inline;
    padding:0;
    font-size:20px;
}
p{
  display:inline;
  text-indent:30px;
  padding:2px;
  box-sizing:border-box;
}
li{
    list-style-type:none;
    box-shadow:0px 0px 4px #BFBFBF;
    padding:5px;
    border-radius:4px;
    padding-right:25px;
    margin:4px;
    min-width:50%;
    display:block;
    width:fit-content;
}
b{
    color:blue;
    font-weight:300;
}
r{
    color:red;
    font-weight:300;
}
g{
    color:green;
    font-weight:300;
}
b,r,g{
    display:inline;
    margin-right:5px;
}
section{
    box-shadow:0px 0px 4px #ACACAC;
    border-radius:4px;
    padding:3px;
    margin-bottom:30px;
    max-width:96%;
    margin:auto;
}
embed{
    width:100%;
    height:auto;
    border-radius:4px;
}
textarea{
    border-radius:4px;
    display:block;
    margin:15px auto;
    margin-bottom:75px;
    box-shadow:0px 0px 4px #D0D0D0;
    outline:none;
    color:#008AFF;
}
button[type="submit"]{
    display:block;
    margin:auto;
    padding:5px 20px;
    font-family:Times New Roman;
    margin-top:-40px;
    border-radius:3.5px;
    border:1px solid #0077FF;
    margin-bottom:40px;
}
tooltip{
  width:100%;
  height:45px;
  background:#A2A2A2;
  display:flex;
  color:white;
  justify-content:center;
}
section post{
  width:100%;
  height:40px;
  display:flex;
  color:#ffffff;
  font-size:25px;
  align-items:center;
  justify-content:center;
  background:#A2A2A2;
  text-transform:uppercase;
}
.exp{
  padding:5px;
  border:1px groove grey;
  display:block;
  margin:auto;
  width:fit-content;
  border-radius:4px;
  box-shadow:0px 0px 4px #CECECE;
  min-width:50%;
}
.exp th{
  font-weight:300
}
.exp td{
  font-weight:350px;
  font-family:Times 'Times New Roman', Times, serif;
  text-align:center;
  margin-left:10px;
  min-width:100px;
}
section data a{
  text-decoration:none;
  color:blue;
  font-family:Times New Roman;
  padding-left:5px;
}
sample{
  display:block;
  width:96%;
  height:fit-content;
  padding:5px;
  margin:10px auto;
  border:2px solid skyblue;
  box-sizing:border-box;
  text-indent:0px;
  border-radius:3px;
  overflow:hidden;
}
sample h{
  text-align:center;
  color:#00CEFF;
}
pbody{
  width:100%;
  height:auto;
  background:#7C7C7C;
  display:block;
  color:pink;
  padding:4px;
  transform:translate(-1%,0%);
  font-family:sans-serif;
}
u{
  color:blue;
}
l{
  margin-left:40px;
  margin-top:3px;
}
table{
  width:100%;
  height:fit-content;
  padding:5px;
  box-sizing:border-box;
  border-collapse:collapse;
  padding-bottom:10px;
  border:2px solid slategray;
  overflow:scroll;
  display:block;
  gap:5px;
}
th{
  font-weight:300;
  font-family:sans-serif;
  border:1px solid salmon;
  border-top:none;
}
thead th tt{
  font-size:14px;
  padding:0px;
  font-family:sans-serif
}
thead th tt:first-child{
  text-align:left;
  color:red;
  padding:0;
}
thead th tt:last-child{
  color:green;
  padding: 0;
}
thead th tt:last-child{
  padding:2px 10px;
}
td{
  width:10px;
  border:1px solid silver;
  padding:0;
  text-align:center;
}
tbody tr td tt{
  padding:0px 20px;
  border-right:1px solid sienna;
  color:red;
}
tbody tr td tt:last-child{
  border-right:none;
  color:green;
}
#org{
  border:none;
  width:auto;
}
#org th{
  border:none;
}
.es{
  width:100%;
  box-shadow:0px 0px 5px black;
  border-radius:4px;
}
.es th{
  width:40vh;
  font-weight:440;
}
.es th:first-child{
  color:green;
}
.es td:first-child{
  color:green;
}
note{
  display:block;
  max-width:97%;
  margin:15px auto;
  text-indent:0px;
  box-shadow:0px 0px 4px #B1B1B1;
  padding:5px;
  border-radius:4px;
  color:blue;
}
ans{
  display:grid;
  width:100%;
  height:fit-content;
  grid-template-areas:". . . ";
  gap:5px;
  min-height:45px;
  
}
page{
  width:90%;
  margin:10px auto;
  box-shadow:0px 0px 3px #A4A4A4;
  display:block;
  border-radius:4px;
  padding:6px 10px;
  height:fit-content;
}
qu{
  display:block;
  width:100%;
  height:auto;
  text-align:left;
}
ans button{
  min-width:90px;
  box-sizing:border-box;
  border-radius:4px;
  border:none;
  font-family:sans-serif;
  font-size:22px;
  margin-top:5px;
  color:#2A91AB;
  background:white;
  outline:none
}
#syn{
 /* box-shadow:0px 0px 3px #A0A0A0;*/
  margin:10px 2px;
  height:fit-content;
}
